upstream portainer {
  server        portainer:9000;
}

server {
    listen       80;
    listen  [::]:80;
    server_name  ${DomainPrefixPortainer}.cabral.srv.br;

    location / {
        proxy_pass  http://portainer;
    }
}